.Contacto{
    display: flex;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5.5rem;
    padding-left: 6rem;
    padding-right: 6rem;
}

.form-container{
    margin-right: 3rem;
    margin-left: 3rem;
}

.contacto-form{
    width: 40vw;
}

.contacto-form-primera{
    display: flex;
}

.contacto-form p{
    font-family: "Montserrat";
    color: #3B373A;
    margin-top: 2rem;
}

.contacto-form input{
    border: 0;
    border-bottom: 1px solid #3B373A;
    width: 18vw;
    margin-right: 4vw;
    font-family: "Montserrat";
    color: #3B373A;
}

.contacto-form select{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #3B373A;
}

.form-control{
    font-family: "Montserrat";
    color: #3B373A;
}

.contacto-form textarea{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #3B373A;
}

input:focus,
select:focus, .form-control:focus,
textarea:focus,
button:focus {
  outline: none !important;
  box-shadow: none !important
}

.contacto-form input:-webkit-autofill,
.contacto-form input:-webkit-autofill:hover, 
.contacto-form input:-webkit-autofill:focus, 
.contacto-form input:-webkit-autofill:active
{
    -webkit-text-fill-color: #3B373A !important;
    -webkit-text-fill-font-family: "Montserrat" !important;
    font-family: "Montserrat"  !important;
    background-color: white;
}

.contacto-form input:-moz-autofill,
.contacto-form input:-moz-autofill:hover, 
.contacto-form input:-moz-autofill:focus, 
.contacto-form input:-moz-autofill:active
{
    -moz-text-fill-color: #3B373A !important;
    -moz-text-fill-font-family: "Montserrat" !important;
}

.contacto-txt{
    padding-right: 4rem;
    padding-left: 3rem;
}

.botonForm{
    background-color: #BF522A;
    border: 0;
    font-family: "Montserrat";
    font-size: 0.9rem;
    color: white;
    letter-spacing: 2px;
    margin-top: 3rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.botonForm:hover{
    color: #3B373A;
}

.contacto-txt h3{
    font-family: "Playfair Display";
    color: #3B373A;
    font-weight: 700;
    font-size: 2.7rem;
}

.contacto-txt span{
    font-style: italic;
}

.contacto-txt p{
    font-family: "Montserrat";
    color: #3B373A;
    padding-top: 1rem;
}

.video{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 5rem;

}

@media (max-width: 700px){
    .video iframe{
        width: 80vw;
        height: 48vw;
    }
    .Contacto{
        display: flex;
        flex-direction: column-reverse;
        width: 80vw;
        padding: 0;
    }
    .contacto-txt{
        padding: 0;
        text-align:center ;
    }
    .contacto-txt h3{
        font-size: 1.6rem;
    }
    .contacto-txt img{
        width: 15vw;
    }
    .form-container{
        margin: 0;
    }
    .contacto-form{
        width: 75vw;
    }
    .contacto-form input{
        width: 35vw;
    }

}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #BF522A;
}

input:focus + .slider {
    box-shadow: 0 0 1px #BF522A;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}